
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
}


.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}


h1{
    margin: 10px;
}

input[type="text"], input[type="email"],input[type="password"]{
    border: none;
    border-radius: 20px;
    padding: 12px;
    background-color: #F0F0F0;
    margin: 5px;
    outline: none;
}

.signin-signup button{
    background-color: #C34348;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
#loginErrorMessages, #registerErrorMessages, #errorContainer{
color: red;
margin: 10px;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}


.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg,  #C34348 0%,   #D26167 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}


.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}


.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
  

  /* BARRA LATERAL */

  .sidebar-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .sidebar-head span{
    color: #C34348;
    margin: 5px;
  }

  .navegation img{
    width: 50px;
  }
  .navegation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    width: 20vw;
    box-sizing: border-box; 
    background-color: #20212A;
}
.nav-ul{
    list-style: none;
    width: 100%;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    margin-top: 20%;
}

.nav-ul li {
    box-sizing: border-box; 
    margin: 10px;
    margin-bottom: 30px;
} 

.nav-ul li a{
text-decoration: none;
font-size: 20px;
color: #fff;
padding: 5px;
} 

.nav-ul li a i,
.nav-ul button i{
margin-right: 5px;
  } 
  
  .nav-ul a:hover{
  border-bottom: 2px solid #C34348;
  } 

  .nav-ul button{
    background-color: #C34348;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
.open,
.close {
    display: none;
    margin: 5px;
}
@media screen and (max-width: 1000px){
  .nav-ul{
    margin-top: 5%;
  }
  .nav-ul li{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 850px) {
    .open,
    .close {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .open {
        color: #20212A;  
        margin-right: 10px; 
     }

    .close {
        color: #C34348;
    }

    .navegation {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
         top: 0; 
        background-color: #20212A;
        height: 100vh;
        width: 40vw;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .navegation.visible {
        opacity: 1;
        visibility: visible;
    }

}

@media screen and (max-width: 460px) {
  .nav-ul li a{
    font-size: 15px;
    } 
}

/* CONTENIDO*/
.container-content{
display: flex;
width: 100%;
height: 100vh;
}

.content-home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;

}

.content-product{
  margin: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-product img{
  width: 80%;
  margin: 0;
  }
  
  .content-product p{
  font-weight: 1000;
    }
  
.content-product a{
  display: none;
  text-decoration: none;
  color: #20212A;
  font-weight: 1000;
  margin: 5px;
  }
    
.content-product:hover{
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(202,59,12,1) 12%, rgba(232,115,80,1) 77%, rgba(249,202,184,1) 100%);
  color: #fff;
}

.content-product:hover a {
  display: inline-block; 
}


/* PUBLICAR PRODUCTO */
input[type="text"], input[type="number"]{
  border: none;
  border-radius: 20px;
  padding: 12px;
  background-color: #F0F0F0;
  margin: 5px;
  outline: none;
}
textarea{
  border: none;
  border-radius: 20px;
  padding: 12px;
  background-color: #F0F0F0;
  margin: 5px;
  outline: none;
  width: 200px;
}

.file-input {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.file-input input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #20212A;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;

}

.file-input span {
  display: block;
  margin-top: 5px;
  color: #555;
  font-size: 13px;
}

.content-create button{
  background-color: #C34348;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.content-create{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cart */
.table-container {
  width: 80%;
  overflow-x: auto; 
  margin: 25px auto; 
}

.styled-table {
  border-collapse: collapse;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead tr {
  background-color: #C34348;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #C34348;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.content-cart{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.content-cart h2{
  margin-top: 5%;
}

.content-cart button{
  background-color: transparent;
  color: #20212A;
  border: none;
  cursor: pointer;
}

.content-cart button i{
font-size: 20px;
}

.content-cart a{
  text-decoration: none;
  font-weight: 1000;
  color: #20212A;
  }

  .content-cart a:hover{
border-bottom: 2px solid #C34348;
    }
  

/* ADMIN */
.content-adm{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.content-adm h2{
  margin-top: 5%;
}

.content-adm .table-container {
  width: 90%;
}

.content-action{
  display: flex;
  width: 60%;
}

.content-action button{
  background-color: transparent;
  color: #20212A;
  border: none;
  cursor: pointer;
  font-size: 20px;

}

.content-action a{
  color: #20212A;
font-size: 20px;
}

/* BUY AND SALE */
.content-shopping{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.content-shopping h2{
  margin-top: 5%;
}

.content-shopping .table-container {
  width: 90%;
}

.content-shopping i{
  color: #20212A;
  font-size: 20px;
  }
  

/* DETAILS PRODUCT */
.content-detail{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-detail h2{
  margin-top: 5%;
}
.content-quantity{
  display: flex;
}

.content-detail button{
  background-color: #C34348;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}


/* Payment*/

.content-payment{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-payment h2{
  margin-top: 5%;
} 
.content-payment button{
  background-color: #C34348;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}


/* Estilos generales para el select */
.custom-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  color: #333;
  cursor: pointer;
}

/* Estilo para cuando el select está enfocado */
.custom-select:focus {
  outline: none;
  border-color: #888;
}
